@model RunningSyncStoredProceduresMVC.Models.Process

<p>Stored procedure executed successfully. Results:</p>

<p><b>Task Name:</b> @Model.TaskName</p>
<p><b>Progress Percent:</b> @Model.ProgressPercent</p>
<p><b>Last Updated:</b> @Model.LastUpdated</p>